<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="Imgur.API" version="4.0.1" targetFramework="net461" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="6.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
</packages>